<div class = "container">
<div class = "row".>
<div class = "col-xs-4">
<h1>About Page</h1>
My name is Jacinta. 
Please contact me at the following: 

<p>
<%=link_to("Contact",{:action=>"contact"})%>
</p>
</div>

<div class = "col-xs-4">
Hello Again 
</div>

</div>
</div>